@using Invest.Common.State
@model Invest.Common.Model.Project.Project

<h2>Проект направлен на комиссию @Model.ProjectIspolcom.CommissionTime.ToShortDateString()</h2>

<div class="listview-outlook">
    @foreach (var task in Model.Tasks.Where(t => t.Step == ProjectWorkflow.State.WaitIspolcomFixes && !t.IsComplete))
    {
        <a class="list">
            <div class="list-content">
                <span class="list-title">@task.Title</span>
                <span class="list-remark">Время выполнения: @task.Milestone.ToShortDateString()</span> <span class="list-remark">
                    Описание: @task.Body
                </span>
            </div>
        </a>
    }
</div>

<div>
    <ul>
        <li>
            @Html.ActionLink("Добавить замечание по проекту", "AddFix",
                new
                    {
                        projectId = Model._id,
                        state = ProjectWorkflow.State.WaitIspolcomFixes
                    },
                new
                    {
                        @class = "button danger",
                        @style = "width: 300px"
                    })
        </li>
        @foreach (ProjectWorkflow.Trigger trigger in ViewBag.AvaibleTriggers)
        {
            <li>
                @Html.ActionLink(trigger.ToString(), "Triggers", new { projectId = Model._id, @trigger = trigger.ToString() }, new
                {
                    @class = "button primary",
                    @style = "width: 300px"
                })
            </li>
        }
    </ul>
</div>