@using Invest.Common.State
@model Invest.Common.Model.Project.Project

<h2>По проекту разрабатывается дорожная карта @Model.ProjectComission.CommissionTime.ToShortDateString()</h2>

<div class="listview-outlook">
    @foreach (var task in Model.Tasks.Where(t => t.Step == ProjectWorkflow.State.Realization))
    {
        if (User.IsInRole("Investor"))
        {
            if (task.IsComplete)
            {
                <a href="/InvestorActions/CreateReport?taskId=@task._id&projectId=@task.ProjectId" class="list marked">
                    <div class="list-content">
                        <span class="list-title">@task.Title</span>
                        <span class="list-remark">Время выполнения: @task.Milestone.ToShortDateString()</span> <span class="list-remark">
                            Описание: @task.Body
                        </span>
                    </div>
                </a>
            }
            else
            {
                <a href="/InvestorActions/CreateReport?taskId=@task._id&projectId=@task.ProjectId" class="list">
                    <div class="list-content">
                        <span class="list-title">@task.Title</span>
                        <span class="list-remark">Время выполнения: @task.Milestone.ToShortDateString()</span> <span class="list-remark">
                            Описание: @task.Body
                        </span>
                    </div>
                </a>
            }

        }
        else
        {
            if (task.IsComplete)
            {
                <a href="/AdminActions/Details?taskId=@task._id&projectId=@task.ProjectId" class="list marked">
                    <div class="list-content">
                        <span class="list-title">@task.Title</span>
                        <span class="list-remark">Время выполнения: @task.Milestone.ToShortDateString()</span> <span class="list-remark">
                            Описание: @task.Body
                        </span>
                    </div>
                </a>
            }
            else
            {
                <a href="/AdminActions/Details?taskId=@task._id&projectId=@task.ProjectId" class="list">
                    <div class="list-content">
                        <span class="list-title">@task.Title</span>
                        <span class="list-remark">Время выполнения: @task.Milestone.ToShortDateString()</span> <span class="list-remark">
                            Описание: @task.Body
                        </span>
                    </div>
                </a>
            }
        }

    }
</div>

@if (User.IsInRole("Investor"))
{
    <div>
        @Html.ActionLink("Добавить ключевую точку реализации", "AddRoadMapPoint", "InvestorActions",
                    new
                    {
                        projectId = Model._id
                    },
                    new
                    {
                        @class = "button danger",
                        @style = "width: 300px"
                    })
    </div>
}
@{Html.RenderPartial("AllowActions");}