@using Invest.Common.Model.Project
@using Invest.Common.State
@using Investmogile.Infrastructure.Common.Model.Project
@using Investmogile.Infrastructure.Common.State
@using Investmogilev.Infrastructure.Common.Model.Project
@using Investmogilev.Infrastructure.Common.State
@model Investmogilev.Infrastructure.Common.Model.Project.Project

<h2>Проект направлен на комиссию @Model.ProjectComission.CommissionTime.ToShortDateString()</h2>
<div class="listview-outlook">
    <div class="list-group">
        <a class="group-title">Необходимые документы</a>
        <div class="group-content">
            @foreach (var task in Model.Tasks.Where(t => t.Step == ProjectWorkflow.State.WaitComissionFixes && t.Type == TaskTypes.Document))
            {
                if (task.IsComplete)
                {
                    <a class="list marked">
                        <div class="list-content">
                            <span class="list-title">@task.Title</span>
                            <span class="list-remark">Время выполнения: @task.Milestone.ToShortDateString()</span> <span class="list-remark">
                                Описание: @task.Body
                            </span>
                        </div>
                    </a>
                }
                else
                {
                    if (User.IsInRole("Admin"))
                    {
                        <a href="/AdminActions/Details?taskId=@task._id&projectId=@task.ProjectId" class="list">
                            <div class="list-content">
                                <span class="list-title">@task.Title</span>
                                <span class="list-remark">Время выполнения: @task.Milestone.ToShortDateString()</span> <span class="list-remark">
                                    Описание: @task.Body
                                </span>
                            </div>
                        </a>
                    }
                    else
                    {
                        if (User.IsInRole("Investor"))
                        {
                            <a href="/InvestorActions/CreateReport?taskId=@task._id&projectId=@task.ProjectId" class="list">
                                <div class="list-content">
                                    <span class="list-title">@task.Title</span>
                                    <span class="list-remark">Время выполнения: @task.Milestone.ToShortDateString()</span> <span class="list-remark">
                                        Описание: @task.Body
                                    </span>
                                </div>
                            </a>
                        }
                    }
                }
            }
        </div>
    </div>
    <div class="list-group">
        <a class="group-title">Причастные ораганизации</a>
        <div class="group-content">
            @foreach (var task in Model.Tasks.Where(t => t.Step == ProjectWorkflow.State.WaitComissionFixes && t.Type == TaskTypes.InvolvedOrganiztion))
            {
                if (task.IsComplete)
                {
                    <a class="list marked">
                        <div class="list-content">
                            <span class="list-title">@task.Title</span>
                            <span class="list-remark">Время выполнения: @task.Milestone.ToShortDateString()</span> <span class="list-remark">
                                Описание: @task.Body
                            </span>
                        </div>
                    </a>
                }
                else
                {
                    if (User.IsInRole("Admin"))
                    {
                        <a href="/AdminActions/InvolvedReport?taskId=@task._id&projectId=@task.ProjectId" class="list">
                            <div class="list-content">
                                <span class="list-title">@task.Title</span>
                                <span class="list-remark">Время выполнения: @task.Milestone.ToShortDateString()</span> <span class="list-remark">
                                    Описание: @task.Body
                                </span>
                            </div>
                        </a>
                    }
                    else
                    {
                        if (User.IsInRole("Investor"))
                        {
                            <a href="/InvestorActions/Details?taskId=@task._id&projectId=@task.ProjectId" class="list">
                                <div class="list-content">
                                    <span class="list-title">@task.Title</span>
                                    <span class="list-remark">Время выполнения: @task.Milestone.ToShortDateString()</span> <span class="list-remark">
                                        Описание: @task.Body
                                    </span>
                                </div>
                            </a>
                        }
                    }
                }
            }
        </div>
    </div>
</div>

@{Html.RenderPartial("AllowActions");}