@model IEnumerable<Invest.Common.Model.Project.ProjectNotes>
@{
    ViewBag.Title = "Все заметки";
}
<h2>
    Все заметки
</h2>
<table class="table hovered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NoteTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoteBody)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CretorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoteTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoteBody)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CretorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedTime)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item._id }, new { @class = "button success" })
                @Html.ActionLink("Подробнее", "Details", new { id = item._id }, new { @class = "button info" })
                @if (User.Identity.Name == item.CretorName)
                {
                    @Html.ActionLink("Удалить", "Delete", new { id = item._id }, new { @class = "button warning" })
                }
            </td>
        </tr>
    }
</table>
