@model Invest.Common.Model.Project.ProjectNotes
@{
    ViewBag.Title = "Редактировать заметку";
}
<h2>
    Редактировать заметку</h2>

<script src="~/Scripts/chosen.jquery.min.js"></script>
<link href="~/Content/chosen.min.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    
    <fieldset>
        <legend>Заметка</legend>
        @Html.HiddenFor(model => model.ProjectId)
        @Html.HiddenFor(model => model._id)
        @Html.HiddenFor(model => model.CretorName)
        @Html.HiddenFor(model => model.CreatedTime)
        <small class="editor-label">
            @Html.LabelFor(model => model.NoteTitle)
        </small>
        <blockquote class="editor-field">
            @Html.EditorFor(model => model.NoteTitle)
            @Html.ValidationMessageFor(model => model.NoteTitle)
        </blockquote>
        <small class="editor-label">
            @Html.LabelFor(model => model.NoteBody)
        </small>
        <blockquote class="editor-field">
            @Html.TextAreaFor(model => model.NoteBody, new { @id = "editor" })
            @Html.ValidationMessageFor(model => model.NoteBody)
        </blockquote>
        <small class="editor-label">
            @Html.LabelFor(model => model.CretorName)
        </small>
        <blockquote class="editor-field">
            @Html.DisplayFor(model => model.CretorName)
        </blockquote>
        <small class="editor-label">
            @Html.LabelFor(model => model.CreatedTime)
        </small>
        <blockquote class="editor-field">
            @Html.DisplayFor(model => model.CreatedTime)
        </blockquote>
        <small class="editor-label">
            @Html.LabelFor(model => model.CretorName)
        </small>
        <blockquote class="editor-field">
            @Html.DisplayFor(model => model.CretorName)
        </blockquote>
        <small class="editor-label">
            @Html.LabelFor(model => model.RolesForView)
        </small>
        <blockquote class="editor-field">
            @Html.ListBoxFor(model => model.RolesForView, new SelectList(new List<string>() { "Admin", "User", "Investor" }), new { id = "cznTags" })
            @Html.ValidationMessageFor(model => model.RolesForView)
        </blockquote>

        <small class="editor-label">
            Приложения
        </small>
        <div class="editor-field">
            @Html.Telerik().Upload().Name("attachments").Multiple(false).Async(async => async
             .Save("Save", "Notes", new { id = Model._id })
                 .Remove("Remove", "Notes", new { id = Model._id })
            .AutoUpload(false)
        ).Localizable("ru-RU")
        </div>

        <p>
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Ко всем записям", "Index") 
    @Html.ActionLink("К записям по проекту", "Index")
</div>
<script>
    $(document).ready(function () { $("#editor").cleditor(); });
</script>
<script type="text/javascript">
    //<![CDATA[
    jQuery(document).ready(function () {
        if (!jQuery.telerik) jQuery.telerik = {};
        jQuery('#attachments').tUpload({ async: { "saveUrl": "/Notes/Save/@Model._id", "autoUpload": false }, localization: { "cancel": "Отмена", "retry": "Повторить", "select": "Выбрать...", "remove": "Удалить", "uploadSelectedFiles": "Загрузить файлы", "dropFilesHere": "перетащите сюда файлы для загрузки", "statusFailed": "неудачно", "statusUploaded": "загружено", "statusUploading": "загружается" } });
    });
    $("#cznTags").chosen();
    $('.chosen-container').css('width', '260px');
    //]]>
</script>
