@using Investmogilev.Infrastructure.Common.Model.Common
@using Investmogilev.Infrastructure.Common.State
@model Investmogilev.Infrastructure.Common.Model.Common.MailTemplate

@{
    ViewBag.Title = "Создать шаблон";
}
<script src="~/Scripts/chosen.jquery.min.js"></script>
<link href="~/Content/chosen.min.css" rel="stylesheet" />
<h2>Создать шаблон</h2>
<p>
    @Html.ActionLink("Назад к шаблонам", "Index", null, new {@class = "icon-arrow-left-3 fg-darker"})
</p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Создать шаблон</legend>
        @Html.HiddenFor(model => model._id)


        <small class="editor-label">
            @Html.LabelFor(model => model.Title)
        </small>
        <blockquote class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </blockquote>

        <small class="editor-label">
            @Html.LabelFor(model => model.Body)
        </small>
        <blockquote class="editor-field">
            @Html.TextAreaFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </blockquote>
        
        <small class="editor-label">
            @Html.LabelFor(model => model.Trigger)
        </small>
        <blockquote class="editor-field">
            @Html.DropDownListFor(model => model.Trigger, new SelectList(Enum.GetNames(typeof (ProjectWorkflow.Trigger))), new {id = "cznSteps"})
            @Html.ValidationMessageFor(model => model.Trigger)
        </blockquote>

        <small class="editor-label">
            @Html.LabelFor(model => model.UserType)
        </small>
        <blockquote class="editor-field">
            @Html.DropDownListFor(model => model.UserType, new SelectList(Enum.GetNames(typeof (UserType))), new {id = "cznTypes"})
            @Html.ValidationMessageFor(model => model.UserType)
        </blockquote>

        <p>
            <input type="submit" value="Создать" />
        </p>
    </fieldset>
}
<script>
    $("#cznSteps").chosen();
    $("#cznTypes").chosen();
</script>