@using Invest.Common.Model.Project
@using Invest.Common.State
@model TaskTemplate

@{
    ViewBag.Title = "Создать шаблон";
}
<script src="~/Scripts/chosen.jquery.min.js"></script>
<link href="~/Content/chosen.min.css" rel="stylesheet" />
<h2>Создать шаблон</h2>
<p>
    @Html.ActionLink("Назад к шаблонам", "Index", null, new { @class = "icon-arrow-left-3 fg-darker" })
</p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Шаблон задачи</legend>
        @Html.HiddenFor(model => model._id)

        <small class="editor-label">
            @Html.LabelFor(model => model.Title)
        </small>
        <blockquote class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </blockquote>

        <small class="editor-label">
            @Html.LabelFor(model => model.Step)
        </small>
        <blockquote class="editor-field">
            @Html.DropDownListFor(model => model.Step, new SelectList(Enum.GetNames(typeof(ProjectWorkflow.State))), new { id = "cznSteps" })
            @Html.ValidationMessageFor(model => model.Step)
        </blockquote>
        
        <small class="editor-label">
            @Html.LabelFor(model => model.Type)
        </small>
        <blockquote class="editor-field">
            @Html.DropDownListFor(model => model.Type, new SelectList(Enum.GetNames(typeof(TaskTypes))), new { id = "cznTypes" })
            @Html.ValidationMessageFor(model => model.Type)
        </blockquote>
        

        <small class="editor-label">
            @Html.LabelFor(model => model.Body)
        </small>
        <blockquote class="editor-field">
            @Html.TextAreaFor(model => model.Body, new { @id = "editor" })
            @Html.ValidationMessageFor(model => model.Body)
        </blockquote>
        <p style="margin-top:10px">
            <input type="submit" value="Создать" />
        </p>
    </fieldset>
}
<script>
    $(document).ready(function () { $("#editor").cleditor(); });
    $("#cznSteps").chosen();
    $("#cznTypes").chosen();
</script>
