@model InvestPortal.Models.DocumentForTaskViewModel
@{
    ViewBag.Title = "AddDocumentToTask";
}
<h2>
    AddDocumentToTask</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DocumentForTaskViewModel</legend>
        @Html.HiddenFor(model => model.ProjectId)
        @Html.HiddenFor(model => model.TaskId)
        @Html.HiddenFor(model => model._id)

        @Html.Telerik().Upload().Name("attachments").Multiple(false).Async(async => async
             .Save("Save", "Task", new { taskId = Model.TaskId, projectId = Model.ProjectId, infoId = Model._id })
               .Remove("Remove", "Task", new { taskId = Model.TaskId, projectId = Model.ProjectId, infoId = Model._id })
            .AutoUpload(false)
        ).Localizable("ru-RU")
        <p class="note">
            Максимальный объем файла: 10 Мб
        </p>
        <div class="editor-label">
            @Html.LabelFor(model => model.FilePath)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.FilePath)
            @Html.ValidationMessageFor(model => model.FilePath)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.InfoName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InfoName)
            @Html.ValidationMessageFor(model => model.InfoName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.InfoValue)
        </div>
        <div class="editor-field">
            @Html.Telerik().EditorFor(model => model.InfoValue).Localizable("ru-RU")
            @Html.ValidationMessageFor(model => model.InfoValue)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Назад к информации о задаче", "AdditionalInfo", new { taskId = Model.TaskId, projectId = Model.ProjectId })
    |
    @Html.ActionLink("Назад к задаче", "TaskDetails", new { taskId = Model.TaskId, projectId = Model.ProjectId })
    |
</div>
