@using Invest.Common.Model.Common
@using MongoDB.Bson
@model Invest.Common.Model.ProjectModels.Task
<div id="content">
    <h3>@Model.Title</h3>
    <div class="display-label">
        @Html.Raw(HttpUtility.HtmlDecode(Model.Description))
    </div>
    <div class="display-label">
        Документы прикрепленные к задаче:
    </div>
    <ul>
        @if (Model.MoreInfo != null && Model.MoreInfo.Any())
        {
            foreach (var addInfo in Model.MoreInfo)
            {
                if (addInfo is DocumentAdditionalInfo)
                {
            <li>
                <div>@Html.ActionLink("Скачать " + (addInfo as DocumentAdditionalInfo).InfoName,
                                              "Download",
                                              new { taskId = Model._id, projectId = ViewBag.ProjectId, infoId = addInfo._id })
                    |
                    @Html.ActionLink("Изменить документ", "EditDocumentInfo", new { taskId = Model._id, projectId = ViewBag.ProjectId, infoId = addInfo._id })
                    |
                    @Html.ActionLink("Удалить документ", "Remove", new { taskId = Model._id, projectId = ViewBag.ProjectId, infoId = addInfo._id })</div>
                <div> @Html.Raw(HttpUtility.HtmlDecode(addInfo.InfoValue))</div>
            </li>
                }
            }
        }
    </ul>
    <div class="display-label">
        Добавить документ к задаче:
    </div>
    @Html.Telerik().Upload().Name("attachments").ShowFileList(true).Multiple(true).Async(async => async
    .Save("Save", "Task", new { taskId = Model._id, projectId = ViewBag.ProjectId, infoId = ObjectId.GenerateNewId().ToString() })
    .AutoUpload(false)).Localizable("ru-RU").ClientEvents(c => c
                .OnSuccess("onSuccess")
        )
    <script>
        function onSuccess() {
            window.location.href = window.location.href; //This is a possibility
        }
    </script>
</div>
