@model InvestPortal.Models.DocumentForTaskViewModel
@{
    ViewBag.Title = "Изменение описания документа";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Изменить описание документа @Model.InfoName</legend>
        @Html.HiddenFor(model => model.ProjectId)
        @Html.HiddenFor(model => model.TaskId)
        @Html.HiddenFor(model => model.FilePath)
        @Html.HiddenFor(model => model._id)
        @Html.HiddenFor(model => model.InfoName)
        <div class="editor-label">
            @Html.LabelFor(model => model.InfoValue)
        </div>
        <div class="editor-field">
            @{
                Model.InfoValue = Server.HtmlDecode(Model.InfoValue);
            }
            @Html.Telerik().EditorFor(model => model.InfoValue).Localizable("ru-RU").Encode(true)
            @Html.ValidationMessageFor(model => model.InfoValue)
        </div>
        <p>
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Назад к дополнительной информации", "AdditionalInfo", new { taskId = Model.TaskId, projectId = Model.ProjectId })
</div>
