@using Invest.Common.Model.Common
@model Invest.Common.Model.ProjectModels.Task
@{
    ViewBag.Title = "Информация о задаче";
}
<fieldset>
    <legend>Информация о задаче</legend>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.LabelFor(model => model.Description)
    </div>
    <div class="display-label">
        @Html.Raw(HttpUtility.HtmlDecode(Model.Description))
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Milestone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Milestone)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.CompletedOn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompletedOn)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.IsVerifiedComplete)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsVerifiedComplete)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.IsComplete)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsComplete)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.IsLate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsLate)
    </div>
    @if (Model.SubTask != null && Model.SubTask.Any())
    {
        <div class="display-field">
            Комплексеная задача. Подзадач: @Model.SubTask.Count()
        </div>
    }
    <div class="display-label">
        Документы прикрепленные к задаче:
    </div>
    <ul>
        @if (Model.MoreInfo != null && Model.MoreInfo.Any())
        {
            foreach (var addInfo in Model.MoreInfo)
            {
                if (addInfo is DocumentAdditionalInfo)
                {
            <li>
                <div>@Html.ActionLink("Скачать " + (addInfo as DocumentAdditionalInfo).InfoName,
                                              "Download",
                                              new { taskId = Model._id, projectId = ViewBag.ProjectId, infoId = addInfo._id })
                    |
                    @Html.ActionLink("Изменить документ", "EditDocumentInfo", new { taskId = Model._id, projectId = ViewBag.ProjectId, infoId = addInfo._id })
                    |
                    @Html.ActionLink("Удалить документ", "Remove", new { taskId = Model._id, projectId = ViewBag.ProjectId, infoId = addInfo._id })</div>
                <div>
                    @Html.Raw(HttpUtility.HtmlDecode(addInfo.InfoValue))</div>
            </li>
                }
            }
        }
    </ul>
</fieldset>
<p>
    @if (Model.SubTask == null || !Model.SubTask.Any())
    {
        <div>
            @Html.ActionLink("Редакировать", "TaskEdit", new { taskId = Model._id, projectId = ViewBag.ProjectId })|
        </div>
    }
</p>
