@model Invest.Common.Model.ProjectModels.GreenField

<fieldset>
    <legend>Green Field - проект с нуля</legend>
    <table class="table table-striped table-condensed">
        <tr>
            <td>Название проекта</td>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <td>Описание проекта</td>
            <td>@Html.DisplayFor(model => model.Description)</td>
        </tr>
        <tr>
            <td>Цели проекта</td>
            <td>@Html.DisplayFor(model => model.Goal)</td>
        </tr>
        <tr>
            <td>Объем инвестиций</td>
            <td>@Html.DisplayFor(model => model.CadastrValue) млрд. руб.</td>
        </tr>
        <tr>
            <td>Иные заинтересованные лица</td>
            <td>@Html.DisplayFor(model => model.ThirdPartiePretender)</td>
        </tr>
        <tr>
            <td>Инфраструктура</td>
            <td>@Html.DisplayFor(model => model.Infrastructure)</td>
        </tr>
        <tr>
            <td>Контакт</td>
            <td>@Html.DisplayFor(model => model.Owner)</td>
        </tr>
        <tr>
            <td>Примечания</td>
            <td>@Html.DisplayFor(model => model.Appendix)</td>
        </tr>
    </table>
</fieldset>
