@model Invest.Common.Model.ProjectWorkflow.InvestorResponse

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Новый отклик</legend>

        @Html.HiddenFor(model => model.ResponseId)

        <div class="editor-label">
            @Html.LabelFor(model => model.ResponseDate)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.ResponseDate)
            @Html.ValidationMessageFor(model => model.ResponseDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InvestorFirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InvestorFirstName)
            @Html.ValidationMessageFor(model => model.InvestorFirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InvestorMiddleName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InvestorMiddleName)
            @Html.ValidationMessageFor(model => model.InvestorMiddleName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InvestorLastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InvestorLastName)
            @Html.ValidationMessageFor(model => model.InvestorLastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InvestorOrganizationName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InvestorOrganizationName)
            @Html.ValidationMessageFor(model => model.InvestorOrganizationName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InvestorEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InvestorEmail)
            @Html.ValidationMessageFor(model => model.InvestorEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AdditionalInfo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AdditionalInfo)
            @Html.ValidationMessageFor(model => model.AdditionalInfo)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.InvestorPhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InvestorPhone)
            @Html.ValidationMessageFor(model => model.InvestorPhone)
        </div>

        @Html.HiddenFor(model => model.ExistingUser)

        @Html.HiddenFor(model => model.ResponsedProjectId)

        @Html.HiddenFor(model => model.IsVerified)

        <p style="margin-top:20px">
            <input type="submit" value="Отправить" />
        </p>
    </fieldset>
}
