@model IEnumerable<Invest.Common.Model.ProjectModels.Report>
@{
    ViewBag.Title = "Все отчеты";
}
<h2>
    Все отчеты</h2>
<table class="table hovered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsApproved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReporterName)
        </th>
        <th>
            Управление
        </th>
    </tr>
    @foreach (var item in Model.Where(t => t.IsVisible && !t.IsApproved))
    {
        <tr>
            <td>
                @Html.Raw(HttpUtility.HtmlDecode(item.Body))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReporterName)
            </td>
            @if (item.ReportResponse == null || (!item.ReportResponse.IsReject && !item.ReportResponse.IsApproved))
            {
                <td>
                    @Html.ActionLink("Проверить отчет", "ReviewReport", new { taskId = item.TaskId, reportId = item._id }, new { @class = "button success" })
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Информация о задаче", "Details", new { taskId = item.TaskId }, new { @class = "button info" })
                </td>
            }
        </tr>
    }
</table>
