@model IEnumerable<Invest.Common.Model.ProjectModels.TaskReport>
@{
    ViewBag.Title = "Непроверенные отчеты";
}
<h2>
    Непроверенные отчеты
</h2>
<table class="table hovered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ReportTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReporterName)
        </th>
        <th>
            Управление
        </th>
    </tr>
    @foreach (var item in Model.Where(t => t.IsVisible))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ReportTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReporterName)
            </td>
            @if (item.Response == null || (!item.Response.IsReject && !item.Response.IsApproved))
            {
                <td>
                    @Html.ActionLink("Проверить отчет", "ReviewReport", new { taskId = item.TaskId, reportId = item._id }, new { @class = "button success" })
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Информация об отчете", "Details", new { taskId = item.TaskId }, new { @class = "button info" })
                </td>
            }
        </tr>
    }
</table>
