@model Investmogilev.UI.Portal.Models.IssueViewModel

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.BaseUri)

    <fieldset>
        <legend>Описание проблемы</legend>

        <small class="editor-label">
            @Html.LabelFor(model => model.Title)
        </small>
        <blockquote class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </blockquote>

        <small class="editor-label">
            @Html.LabelFor(model => model.Body)
        </small>
        <blockquote class="editor-field">
            @Html.TextAreaFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </blockquote>
        <small class="editor-label">
            @Html.LabelFor(model => model.Labels)
        </small>
        <blockquote class="editor-field">
            @Html.DropDownListFor(model => model.Labels, new SelectList(new List<string>() { "Неверное поведение", "Улучшение", "Ошибка" }), new { id = "cznTags" })
            @Html.ValidationMessageFor(model => model.Labels)
        </blockquote>
        <br/>
        <p>
            <input class="button success" type="submit" value="Отправить" />
        </p>
    </fieldset>
}
