@using Investmogilev.Infrastructure.Common.Model.Project
@model Investmogilev.Infrastructure.Common.Model.Project.GreenField

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/MapMarkerInit.js"></script>


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset class="row">
        <legend>Проект - @Model.Name</legend>
        @Html.HiddenFor(model => model._id)
        @Html.HiddenFor(model => model.InvestorUser)
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Tags)
        </div>
        <div class="editor-field">
            @Html.ListBoxFor(model => model.Tags, new SelectList(Enum.GetNames(typeof(Tag))), new { id = "cznTags" })
            @Html.ValidationMessageFor(model => model.Tags)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, new { @id = "editor" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <table class="table hovered">
            <tr>
                <td>
                    <div id="map" style="height: 250px">
                    </div>
                </td>
                <td>
                    @Html.TextAreaFor(model => model.AddressName)
                    @Html.ValidationMessageFor(model => model.AddressName)
                    <div class="button" onclick="CheckAddress()">
                        Проверить адресс
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.InvestNumber)</td>
                <td>
                    @Html.EditorFor(model => model.InvestNumber)
                    @Html.ValidationMessageFor(model => model.InvestNumber)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.EstimateInvestDate)</td>
                <td>
                    <div id="datepicker" class="input-control text">
                        <input class="t-input" data-val="false" data-val-date="The field EstimateInvestDate must be a date."
                               data-val-required="The EstimateInvestDate field is required." id="EstimateInvestDate" name="EstimateInvestDate"
                               type="text" value="@Model.EstimateInvestDate.ToString("d")">
                    </div>
                    @Html.ValidationMessageFor(model => model.EstimateInvestDate)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Goal)</td>
                <td>
                    @Html.EditorFor(model => model.Goal)
                    @Html.ValidationMessageFor(model => model.Goal)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Area)</td>
                <td>
                    @Html.EditorFor(model => model.Area, new { @class = "k-textbox", data_val = false })
                    @Html.ValidationMessageFor(model => model.Area)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.CadastrValue)</td>
                <td>
                    @Html.EditorFor(model => model.CadastrValue, new { @class = "k-textbox", data_val = false })
                    @Html.ValidationMessageFor(model => model.CadastrValue)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.ThirdPartiePretender)</td>
                <td>
                    @Html.EditorFor(model => model.ThirdPartiePretender)
                    @Html.ValidationMessageFor(model => model.ThirdPartiePretender)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Infrastructure)</td>
                <td>
                    @Html.EditorFor(model => model.Infrastructure)
                    @Html.ValidationMessageFor(model => model.Infrastructure)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.OwnerCity)</td>
                <td>
                    @Html.EditorFor(model => model.OwnerCity)
                    @Html.ValidationMessageFor(model => model.OwnerCity)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Owner)</td>
                <td>
                    @Html.EditorFor(model => model.Owner)
                    @Html.ValidationMessageFor(model => model.Owner)
                </td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model => model.Appendix)</td>
                <td>
                    @Html.EditorFor(model => model.Appendix)
                    @Html.ValidationMessageFor(model => model.Appendix)
                </td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model => model.Region)</td>
                <td>
                    @Html.EditorFor(model => model.Region)
                    @Html.ValidationMessageFor(model => model.Region)
                </td>
            </tr>
        </table>
        <p>
            <input type="submit" value="Сохранить" />
        </p>
        <div style="visibility:hidden">
            <div class="editor-label">
                @Html.LabelFor(model => model.Address)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Address)
            </div>
        </div>
    </fieldset>
}
<script>
    $("#datepicker").datepicker({
        effect: "slide", // none, slide, fade
        position: "bottom", // top or bottom
        format: "dd/mm/yyyy",
    });
    $(document).ready(function () { $("#editor").cleditor(); });

    $("#cznTags").chosen();
    $('.chosen-container').css('width', '100%');
</script>
