@model Investmogilev.Infrastructure.Common.Model.Project.GreenField

<fieldset style="height: 600px; width: 600px; overflow-x: auto; ">
    <legend>Green Field - @Model.Tags</legend>
    <table class="table table-striped table-condensed">
        <tr>
            <td style="width: 25%">@Html.LabelFor(model => model.Name)</td>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <td style="width: 25%">@Html.LabelFor(model => model.Description)</td>
            <td>@Html.Raw(HttpUtility.HtmlDecode(Model.Description))</td>
        </tr>
        <tr>
            <td style="width: 25%">@Html.LabelFor(model => model.CadastrValue)</td>
            <td>@Html.DisplayFor(model => model.CadastrValue)</td>
        </tr>
        <tr>
            <td style="width: 25%">@Html.LabelFor(model => model.Region)</td>
            <td>@Html.DisplayFor(model => model.Region)</td>
        </tr>
        @if (Model.Info != null && Model.Info.Count > 0)
        {
            <tr>
                <td style="width: 25%">Примечания</td>
                <td>
                    @foreach (var info in Model.Info)
                    {
                        <div>
                            @Html.ActionLink(info.InfoName, "DownloadProjectInfo", "AdditionalInfo", new { projectId = Model.Id, docId = info.Id }, new { @class = "button info" })
                        </div>
                    }
                </td>
            </tr>
        }
    </table>
    <a style="margin-left: 200px" id="popupLink" href="/InvestorEntry/ResponseToProject/@Model.Id" class="button button success">Откликнуться на проект</a>
</fieldset>
