@model Invest.Common.Model.Project
@{
    ViewBag.Title = "AssignUser";
}
<h2>
    Назначить ответственного </h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Проект</legend>
        @Html.HiddenFor(model => model._id)
        @Html.HiddenFor(model => model.Name)
        @Html.HiddenFor(model => model.AddressName)
        @Html.HiddenFor(model => model.Contact)
        @Html.HiddenFor(model => model.Region)
        @Html.HiddenFor(model => model.WorkflowId)
        @Html.HiddenFor(model => model.InvestorUser)
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.AssignUser)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.AssignUser, new SelectList(ViewBag.Users,"Name","Name"))
            @Html.ValidationMessageFor(model => model.AssignUser)
        </div>
        <p>
            <input type="submit" value="Назначить отвественного" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Назад", "Index")
</div>
