@using System.Collections
@using InvestPortal.Models
@model IEnumerable<InvestPortal.Models.UserManagerViewModel>
@{
    ViewBag.Title = "Пользователи системы";
}
<h2>Пользователи системы</h2>
<script src="~/Content/jquery.dataTables.min.js"></script>
<link href="~/Content/demo_table.css" rel="stylesheet" />
<link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
<script src="~/Scripts/TableSetup.js"></script>
<p>
    @Html.ActionLink("Новый пользователь", "CreateUser")
</p>
<script>
    /* Table initialisation */
    $(document).ready(function () {
        $('#main-table').dataTable({
            "sPaginationType": "bootstrap",
            "oLanguage": {
                "sLengthMenu": "_MENU_ записей на странице",
                "oPaginate": {
                    "sNext": "Следующая",
                    "sPrevious": "Предыдущая"
                },
                "sInfo": "Всего _TOTAL_ записей. Показаны от _START_-й до _END_-й записи.",
                "sSearch": "Введите фильтр для таблицы _INPUT_"
            }
        });
    });
</script>
<table id="main-table" class="table hovered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsLockedOut)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.LoweredEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th>Управление
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsLockedOut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoweredEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Roles)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.Username })
                </td>
            </tr>
        }
    </tbody>
</table>