@model IEnumerable<MongoRepository.Model.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Все проекты</h2>
<div class="row">
    <div class="span10">
        <div class="google-maps" id="map"></div>
    </div>
    <div class="span2">
        <div id="info"></div>
    </div>
</div>
<script type="text/javascript">
    var map;
    var projects = [];
    var point1;
    function getJSonObject(value) {
        return $.parseJSON(value.replace(/&quot;/ig, '"'));
    }
    $(document).ready(function () {

        map = new GMaps({
            el: '#map',
            lat: 53.6,
            lng: 30.623333,
            zoom: 8,
            zoomControl: true,
            zoomControlOpt: {
                style: 'SMALL',
                position: 'TOP_LEFT'
            },
            panControl: false,
            streetViewControl: false,
            mapTypeControl: false,
            overviewMapControl: false
        });

        map.loadFromFusionTables({
            query: {
                select: "col2",
                from: "1EOvuz_bSq6mL7_FdZuzfLER0ZRJ32Jke3RRh2wA",
                where: "col5 \x3e\x3d 1"
            },
            options: {
                styleId: 2,
                templateId: 2
            },
            suppressInfoWindows: true,
            events: {
                click: function (point) {
                    point1 = point;
                    $('#info').html(point.infoWindowHtml)
                }
            }
        });
        projects = getJSonObject("@ViewBag.LatLng");
        for (var i = 0; i < getJSonObject("@ViewBag.LatLng").length; i++) {
            map.addMarker({
                lat: projects[i].Lat,
                lng: projects[i].Lng,
                title: projects[i].Name,
                infoWindow: {
                    content: projects[i].Description
                }
            });
        }
    });
</script>
<p>
    @Html.ActionLink("Создать новый проект GreenField", "CreateGreenField")
    </br>
    @Html.ActionLink("Создать новый проект BrownField", "CreateBrownField")
    </br>
    @Html.ActionLink("Создать новый проект для неиспользованного здания", "CreateUnUsedBuilding")
</p>
<table class="table table-striped table-condensed">
    <tr>
        <th>Название проекта
        </th>
        <th>Описание
        </th>
        <th>Регион
        </th>
        <th>Адресс
        </th>
        <th>Координаты
        </th>
        <th>Тип проекта
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetType().Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit" + item.GetType().Name, new { id = item._id.ToString() }) |
				@Html.ActionLink("Details", "Details" + item.GetType().Name, new { id = item._id.ToString() }) |
				@Html.ActionLink("Delete", "Delete" + item.GetType().Name, new { id = item._id.ToString() })
            </td>
        </tr>
    }

</table>

<style type="text/css">
    #googft-mapCanvas {
        height: 300px;
        margin: 0;
        padding: 0;
        width: 500px;
    }

    #mapCanvas img {
        max-width: none;
    }

    #mapCanvas label {
        max-width: none;
        width: auto;
        display: inline;
    }
</style>

