@model Invest.Common.Model.BrownField

@{
    ViewBag.Title = "DetailsBrownField";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetailsBrownField</h2>

<fieldset>
    <legend>BrownField</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RegistrationDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegistrationDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InvestAmount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InvestAmount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WorkPlaces)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WorkPlaces)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EstimateRelease)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstimateRelease)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Appendix)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Appendix)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AddressName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddressName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Region)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Region)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
