@model Invest.Common.Model.UnUsedBuilding

@{
    ViewBag.Title = "DetailsUnusedBuilding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetailsUnusedBuilding</h2>

<fieldset>
    <legend>UnUsedBuilding</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Area)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Area)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsSell)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsSell)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsCommunicate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsCommunicate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BalancePrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BalancePrice)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model._id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model._id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AddressName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddressName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Region)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Region)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
