@using Invest.Common.Model.Common
@model Invest.Common.Model.ProjectModels.Task
@{
    ViewBag.Title = "О задании";
}
<h2>
    Подробнее о задании
</h2>
<div>
    @Html.ActionLink("К списку отчетов", "Index", null, new { @class = "icon-arrow-left-3 fg-darker big" })
</div>
<fieldset>
    <legend>Задание</legend>
    <small class="display-label">
        @Html.DisplayNameFor(model => model.Title)
    </small>
    <blockquote class="display-field">
        @Html.DisplayFor(model => model.Title)
    </blockquote>
    <small class="display-label">
        @Html.DisplayNameFor(model => model.Description)
    </small>
    <blockquote class="display-field">
        @Html.Raw(HttpUtility.HtmlDecode(Model.Description))
    </blockquote>
    <small class="display-label">
        @Html.DisplayNameFor(model => model.Milestone)
    </small>
    <blockquote class="display-field">
        @Html.DisplayFor(model => model.Milestone)
    </blockquote>
    @if (Model.IsComplete)
    {
        <small class="display-label">
            @Html.DisplayNameFor(model => model.CompletedOn)
        </small>
        <blockquote class="display-field">
            @Html.DisplayFor(model => model.CompletedOn)
        </blockquote>
    }
    <small class="display-label">
        @Html.DisplayNameFor(model => model.IsLate)
    </small>
    <blockquote class="display-field">
        @Html.DisplayFor(model => model.IsLate)
    </blockquote>
    <fieldset>
        <legend>Отчеты</legend>
        @if (Model.Reports != null && Model.Reports.Any(t => t.IsTemp))
        {
            foreach (var item in Model.Reports.Where(t => t.IsTemp))
            {
                <fieldset>
                    <legend>Отчет от @item.ReportTime.ToShortDateString()</legend>
                    <small class="display-label">
                        @Html.DisplayNameFor(model => item.Body)
                    </small>
                    <blockquote class="display-field">
                        @Html.Raw(HttpUtility.HtmlDecode(item.Body))
                    </blockquote>
                    <small class="display-label">
                        Приложения
                    </small>
                    <ul>
                        <blockquote style="margin:10px">

                            @if (item.Appendix != null && item.Appendix.Any())
                            {
                                foreach (var appendix in item.Appendix)
                                {
                                    <li>
                                        @Html.ActionLink("Скачать " + appendix.InfoName,
                                              "Download",
                                               new { messageId = Model._id, appendixId = item._id }, new { @class = "button button info" })
                                    </li>
                                }
                            }
                        </blockquote>
                    </ul>
                    <fieldset>
                        <legend>Ответ на отчет</legend>
                        @if (item.Response != null)
                        {
                            <small class="display-label">
                                @Html.DisplayNameFor(model => item.Response.ResponseUser)
                            </small>
                            <blockquote class="display-field">
                                @Html.DisplayFor(model => item.Response.ResponseUser)
                            </blockquote>
                            <small class="display-label">
                                @Html.DisplayNameFor(model => item.Response.ResponseBody)
                            </small>
                            <blockquote class="display-field">
                                @Html.DisplayFor(model => item.Response.ResponseBody)
                            </blockquote>
                            <small class="display-label">
                                @Html.DisplayNameFor(model => item.Response.IsApproved)
                            </small>
                            <blockquote class="display-field">
                                @Html.DisplayFor(model => item.Response.IsApproved)
                            </blockquote>
                        }
                        else
                        {
                            <div class="display-field">
                                <strong>Отчет еще не проверен</strong>
                            </div>
                        }
                    </fieldset>
                </fieldset>
            }
        }
    </fieldset>
</fieldset>

