@model Invest.Common.Model.ProjectModels.GreenField

@{
    ViewBag.Title = "MoreInfo";
}

<h2>MoreInfo</h2>

<fieldset>
    <legend>GreenField</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InvestNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InvestNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EstimateInvestDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstimateInvestDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Goal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Goal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Area)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Area)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CadastrValue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CadastrValue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ThirdPartiePretender)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ThirdPartiePretender)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Infrastructure)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Infrastructure)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OwnerCity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OwnerCity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Owner)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Owner)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InvestRequest)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InvestRequest)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Appendix)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Appendix)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model._id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model._id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AddressName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddressName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Region)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Region)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AssignUser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AssignUser)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WorkflowId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WorkflowId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProjectType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProjectType)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
