@using Investmogilev.Infrastructure.Common.State
@model Investmogilev.Infrastructure.Common.Model.Project.Project

@if (User.IsInRole("Admin"))
{
    <div class="listview small">
        @foreach (var task in Model.Tasks.Where(t => t.Step == ProjectWorkflow.State.DocumentSending))
{
    if (task.IsComplete)
    {
        <a href="/AdminActions/Details?taskId=@task._id&projectId=@task.ProjectId" class="list selected">
            <div class="list-content">
                <img src="/images/word.png" class="icon">
                <div class="data">
                    <span class="list-title">@task.Title</span>
                    <span class="list-remark">@task.Body</span>
                </div>
            </div>
        </a>
    }
    else
    {
                <a href="/AdminActions/Details?taskId=@task._id&projectId=@task.ProjectId" class="list">
                    <div class="list-content">
                        <img src="/images/word.png" class="icon">
                        <div class="data">
                            <span class="list-title">@task.Title</span>
                            <span class="list-remark">@task.Body</span>
                        </div>
                    </div>
                </a>
            }
        }
    </div>
}

@if (User.IsInRole("Investor"))
{
    <div class="listview small">
        @foreach (var task in Model.Tasks.Where(t => t.Step == ProjectWorkflow.State.DocumentSending))
        {
            if (task.IsComplete)
            {
                <a href="/InvestorActions/Details?taskId=@task._id&projectId=@task.ProjectId" class="list selected">
                    <div class="list-content">
                        <img src="/images/word.png" class="icon">
                        <div class="data">
                            <span class="list-title">@task.Title</span>
                            <span class="list-remark">@task.Body</span>
                        </div>
                    </div>
                </a>
            }
            else
            {
                <a href="/InvestorActions/Details?taskId=@task._id&projectId=@task.ProjectId" class="list">
                    <div class="list-content">
                        <img src="/images/word.png" class="icon">
                        <div class="data">
                            <span class="list-title">@task.Title</span>
                            <span class="list-remark">@task.Body</span>
                        </div>
                    </div>
                </a>
            }
        }
    </div>
}
@{ Html.RenderPartial("AllowActions"); }