@using Invest.Common.Model.Common
@model Invest.Common.Model.User.MessageQueue
@{
    ViewBag.Title = "Message";
}
<h2>
    Сообщение</h2>
<fieldset>
    <legend>Сообщение</legend>
      <small class="display-label">
        @Html.DisplayNameFor(model => model.Title)
    </small>
    <blockquote class=" left">
        @Html.DisplayFor(model => model.Title)
    </blockquote>
    <small class="display-label">
        @Html.DisplayNameFor(model => model.Body.Text)
    </small>
    <blockquote class=" left">
        <div style="min-height:200px">
            @Html.Raw(HttpUtility.HtmlDecode(Model.Body.Text))
        </div>
    </blockquote>
    <small class="display-label">
        @Html.DisplayNameFor(model => model.SendedDate)
    </small>
    <blockquote class=" left">
        @Html.DisplayFor(model => model.SendedDate)
    </blockquote>
    <small class="display-label">
        @Html.DisplayNameFor(model => model.From)
    </small>
    <blockquote class=" left">
        @Html.DisplayFor(model => model.From)
    </blockquote>
    <small class="display-label">
        @Html.DisplayNameFor(model => model.To)
    </small>
    <blockquote class="">
        @Html.DisplayFor(model => model.To)
    </blockquote>
    @if (Model.Body != null & Model.Body.Appendix != null)
    {
        foreach (var item in Model.Body.Appendix)
        {
        <li>@Html.ActionLink("Скачать " + (item as DocumentAdditionalInfo).InfoName,
                                              "Download",
                                               new { messageId = Model._id, appendixId = item._id }, new { @class = "button button-info" })</li>
        }
    }
</fieldset>
<p>
    @Html.ActionLink("Edit", "EditMessage", new { id = Model._id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
