@using Invest.Common.Model.Common
@using Investmogile.Infrastructure.Common.Model.Common
@using Investmogilev.Infrastructure.Common.Model.Common
@model Investmogilev.Infrastructure.Common.Model.User.MessageQueue
@{
    ViewBag.Title = "ReadMessage";
}
<h2>Прочитать сообщение</h2>
<fieldset>
    <legend>Сообщение</legend>
    <small class="display-label">
        @Html.DisplayNameFor(model => model.Title)
    </small>
    <blockquote class=" left">
        @Html.DisplayFor(model => model.Title)
    </blockquote>
    <small class="display-label">
        @Html.DisplayNameFor(model => model.Body.Text)
    </small>
    <blockquote class=" left">
        <div style="min-height:200px">
            @Html.Raw(HttpUtility.HtmlDecode(Model.Body.Text))
        </div>
    </blockquote>
    <small class="display-label">
        @Html.DisplayNameFor(model => model.SendedDate)
    </small>
    <blockquote class=" left">
        @Html.DisplayFor(model => model.SendedDate)
    </blockquote>
    <small class="display-label">
        @Html.DisplayNameFor(model => model.From)
    </small>
    <blockquote class=" left">
        @Html.DisplayFor(model => model.From)
    </blockquote>
    <small class="display-label">
        @Html.DisplayNameFor(model => model.To)
    </small>
    <blockquote class="">
        @Html.DisplayFor(model => model.To)
    </blockquote>
    <div style="margin:10px">
        @if (Model.Body != null & Model.Body.Appendix != null)
        {
            foreach (var item in Model.Body.Appendix)
            {
                <li>
                    @Html.ActionLink("Скачать " + (item as DocumentAdditionalInfo).InfoName,
                                              "Download",
                                               new { messageId = Model._id, appendixId = item._id }, new { @class = "button button info" })
                </li>
            }
        }
    </div>
</fieldset>
<p>
    @Html.ActionLink("Назад к сообщениям", "Index", new { @class = "button button-primary" })
</p>
