@model IEnumerable<MongoRepository.Model.Region>

@{
    ViewBag.Title = "Index";
}

<table class="table table-striped table-condensed">
    <tr>
        <th>Регион
        </th>
        <th>Латинское название
        </th>
        <th>Параметры
        </th>
        <th>Прочая информация
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnglishName)
            </td>

            <td>
                <button class="btn" style="width:80%"  onclick="ShowPopUp('@string.Format("/Region/RegionParametrs/{0}", item._id)')">Параметры для "@item.RegionName.ToLower()"</button>
            </td>

            <td>
                <button class="btn" style="width:80%" onclick="ShowPopUp('@string.Format("/Region/AdditionalInfo/{0}", item._id)')">Информация для "@item.RegionName.ToLower()"</button>
            </td>
        </tr>
    }

</table>
<div class="modal" id="myModal" style="height: 85%; width: 750px">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
    </div>
    <div id="modalContent" style="height: 90%; width: 100%; overflow-y:auto; overflow-x:hidden"></div>
</div>
<script>
    ShowPopUp = function (link) {
        $('#modalContent').html("загружаются данные");
        $.get(link, function (data) {
            $('#modalContent').html(data);
        })

        $('#myModal').modal()
    }

    $('#myModal').modal()
    $('#myModal').modal('hide')
</script>