@model MongoRepository.Model.Region
@{
    int idIndex = 0;
}
<div>
    <table class="table table-striped table-condensed" style="width: 100%; margin: 10px">
        <tr>
            <th>Имя обобщенного параметра
            </th>
            <th>Интегральное значение
            </th>
            <th>Частные параметры</th>
        </tr>

        @foreach (var item in Model.Parametrs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ParametrName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IntegralValue)
                </td>

                <td>
                    @foreach (var par in item.ChildParametrs)
                    {
                        <div>
                            <button onclick="ShowEdit('@string.Format("/Region/ChildParametr/{0}/{1}", Model._id, par.ParametrName)',@idIndex)" class="btn" style="margin:3px; width:80%">@par.ParametrName</button>
                        </div>
                        <div id="@idIndex" style="margin:3px; width:80%; display:none">
                        </div>
                        idIndex++;
                    }
                </td>
            </tr>
        }
    </table>
</div>
<script type="text/javascript">
    ShowEdit = function (link, index) {
        var index = '#' + index
        $.get(link, function (data) {
            $(index).html(data)
            $(index).toggle('roll')
        })
    }
</script>
