@using Investmogilev.Infrastructure.Common.Model.Project
@model Template

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/MapMarkerInit.js"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset class="row">
        <legend>Проект Гринфилд</legend>
        @Html.HiddenFor(model => model._id)
        @Html.HiddenFor(model => model.InvestorUser)
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.IsInList)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsInList)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, new { @id = "editor" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <table class="table bordered striped hovered">
            <tr>
                <td>
                    @Html.LabelFor(model => model.AddressName)
                    <div id="map" style="height: 250px">
                    </div>
                </td>
                <td>
                    @Html.TextAreaFor(model => model.AddressName)
                    @Html.ValidationMessageFor(model => model.AddressName)
                    <div class="button" onclick="CheckAddress()">
                        Проверить адресс
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Tags)</td>
                <td>
                    @Html.DropDownListFor(model => model.Tags, new SelectList(Enum.GetNames(typeof(Tag))), new { id = "cznTags" })
                    @Html.ValidationMessageFor(model => model.Tags)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Area)</td>
                <td>
                    @Html.EditorFor(model => model.Area)
                    @Html.ValidationMessageFor(model => model.Area)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.CadastrValue)</td>
                <td>
                    @Html.EditorFor(model => model.CadastrValue)
                    @Html.ValidationMessageFor(model => model.CadastrValue)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.EstimateInvoiceAmount)</td>
                <td>
                    @Html.EditorFor(model => model.EstimateInvoiceAmount)
                    @Html.ValidationMessageFor(model => model.EstimateInvoiceAmount)
                </td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model => model.Region)</td>
                <td>
                    @Html.DropDownListFor(model => model.Region, new SelectList(Enum.GetNames(typeof(Regions))), new { id = "cznRegions" })
                    @Html.ValidationMessageFor(model => model.Region)
                </td>
            </tr>
        </table>
        <p>
            <input type="submit" value="Сохранить" />
        </p>
        <div hidden="true" style="width: 10px; height:10px">
            <div class="editor-label">
                @Html.LabelFor(model => model.Address)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Address)
            </div>
        </div>

    </fieldset>
}
<script>
    $("#cznTags").chosen();
    $("#cznRegions").chosen();
    $(document).ready(function () { $("#editor").cleditor(); });
</script>
