@using Investmogilev.Infrastructure.Common.State
@model Investmogilev.Infrastructure.Common.Model.Project.Project

<h2>По проекту разрабатывается дорожная карта @Model.ProjectComission.CommissionTime.ToShortDateString()</h2>

<div class="listview-outlook">
    @foreach (var task in Model.Tasks.Where(t => t.Step == ProjectWorkflow.State.Realization))
    {
        <a class="list">
            <div class="list-content">
                <span class="list-title">@task.Title</span>
                <span class="list-remark">Время выполнения: @task.Milestone.ToShortDateString()</span> <span class="list-remark">
                    Описание: @task.Body
                </span>
            </div>
        </a>
    }
</div>

@if (User.IsInRole("Investor"))
{
    <div>
        @Html.ActionLink("Добавить ключевую точку реализации", "AddRoadMapPoint", "InvestorActions",
            new
            {
                projectId = Model.Id
            },
            new
            {
                @class = "button danger",
                @style = "width: 300px"
            })
    </div>
}
@{Html.RenderPartial("AllowActions");}