@model Investmogilev.Infrastructure.Common.Model.Project.ProjectTask
@{
    ViewBag.Title = "информация о задаче";
}
<h2>
    информация о задаче
</h2>
<div>
    @Html.ActionLink("К моим задачам", "Index", null, new { @class = "icon-arrow-left-3 fg-darker big button success" })
</div>
<fieldset>
    <legend>Задание</legend>
    <small class="display-label">
        @Html.DisplayNameFor(model => model.Title)
    </small>
    <blockquote class="display-field">
        @Html.DisplayFor(model => model.Title)
    </blockquote>

    <small class="display-label">
        @Html.DisplayNameFor(model => model.Milestone)
    </small>
    <blockquote class="display-field">
        @Html.DisplayFor(model => model.Milestone)
    </blockquote>

    <small class="display-label">
        @Html.DisplayNameFor(model => model.IsComplete)
    </small>
    <blockquote class="display-field">
        @Html.DisplayFor(model => model.IsComplete)
    </blockquote>

    <fieldset style="margin-left:20px">
        <legend>Отчеты</legend>
        @if (Model.TaskReport != null)
        {
            foreach (var item in Model.TaskReport)
            {
                <fieldset style="margin-left:20px">
                    <legend>Отчет от @item.ReportTime.ToShortDateString()</legend>
                    <small class="display-label">
                        @Html.DisplayNameFor(model => item.Body)
                    </small>
                    <blockquote class="display-field">
                        @Html.Raw(HttpUtility.HtmlDecode(item.Body))
                    </blockquote>
                    <div class="display-label">
                        Приложения
                    </div>
                    <ul>
                        <fieldset style="margin:10px">
                            @if (item.Info != null && item.Info.Any())
                            {
                                foreach (var appendix in item.Info)
                                {
                                    <blockquote>
                                        @Html.ActionLink("Скачать " + appendix.InfoName,
                                              "Download",
                                               new { messageId = Model.Id, appendixId = item.Id }, new { @class = "button button info" })
                                    </blockquote>
                                }
                            }
                        </fieldset>
                    </ul>
                    <fieldset style="margin-left:20px;">
                        <legend>Ответ на отчет</legend>
                        @if (item.ReportResponse != null)
                        {
                            <small class="display-label">
                                @Html.DisplayNameFor(model => item.ReportResponse.Body)
                            </small>
                            <blockquote class="display-field">
                                @Html.DisplayFor(model => item.ReportResponse.Body)
                            </blockquote>
                            <small class="display-label">
                                @Html.DisplayNameFor(model => item.ReportResponse.IsApproved)
                            </small>
                            <blockquote class="display-field">
                                @Html.DisplayFor(model => item.ReportResponse.IsApproved)
                            </blockquote>
                            <div class="display-label">
                                Приложения
                            </div>
                            <ul>
                                <fieldset style="margin:10px">
                                    @if (item.ReportResponse.Info != null && item.ReportResponse.Info.Any())
                                    {
                                        foreach (var appendix in item.ReportResponse.Info)
                                        {
                                            <blockquote>
                                                @Html.ActionLink("Скачать " + appendix.InfoName,
                                              "Download",
                                               new { messageId = Model.Id, appendixId = item.Id }, new { @class = "button button info" })
                                            </blockquote>
                                        }
                                    }
                                </fieldset>
                            </ul>
                        }
                        else
                        {
                            <div class="display-field">
                                @Html.ActionLink("Создать ответ на отчет", "ReviewReport",
                                  new { reportId = item.Id, taskId = Model.Id, projectId = Model.ProjectId },
                                new { @class = "icon-arrow-down-3 fg-darker button primary" })
                            </div>
                        }
                    </fieldset>
                </fieldset>
            }
        }
    </fieldset>
</fieldset>

