@model Investmogilev.Infrastructure.Common.Model.Project.ReportResponse
@{
    ViewBag.Title = "Проверка отчета";
}
<h2>
    Провертка отчета
</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Отзыв на отчет</legend>
        @Html.HiddenFor(model => model.ResponseTime)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.TaskId)
        @Html.HiddenFor(model => model.ReportId)
        @Html.HiddenFor(model => model.ResponseUser)
        <div class="editor-label">
            @Html.LabelFor(model => model.Body)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Body, new { @id = "editor" })
            @Html.ValidationMessageFor(model => model.Body)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.IsApproved)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsApproved)
            @Html.ValidationMessageFor(model => model.IsApproved)
        </div>
        <div style="margin:10px">
            @Html.Telerik().Upload().Name("attachments").Multiple(false).Async(async => async
                .Save("Save", "AdminActions", new { taskId = Model.TaskId, reportId = Model.ReportId, reposponseId = Model.Id })
                .Remove("Remove", "AdminActions", new { taskId = Model.TaskId, reportId = Model.ReportId, reposponseId = Model.Id })
                .AutoUpload(false)
                ).Localizable("ru-RU")
        </div>
        <p>
            <input type="submit" value="Отправить" />
        </p>
    </fieldset>
}

<script>
    $(document).ready(function () { $("#editor").cleditor(); });
</script>

<script type="text/javascript">
    //<![CDATA[
    jQuery(document).ready(function () {
        if (!jQuery.telerik) jQuery.telerik = {};
        jQuery('#attachments').tUpload(
        {
            async: {
                "saveUrl": "/ReportReview/Save?taskId=@Model.TaskId&reportId=@Model.ReportId&projectId=@Model.ProjectId&reposponseId=@Model.Id",
                "autoUpload": false
            },
            localization: {
                "cancel": "Отмена",
                "retry": "Повторить",
                "select": "Выбрать...",
                "remove": "Удалить",
                "uploadSelectedFiles": "Загрузить файлы",
                "dropFilesHere": "перетащите сюда файлы для загрузки",
                "statusFailed": "неудачно",
                "statusUploaded": "загружено",
                "statusUploading": "загружается"
            }
        });
    });
    //]]>
</script>