@model IEnumerable<Investmogilev.Infrastructure.Common.Model.Project.ProjectTask>
@{
    ViewBag.Title = "Все отчеты";
}
<h2>
    Все отчеты
</h2>
<table class="table hovered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Step)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Milestone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompleteTime)
        </th>
        <th>
            Управление
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Step)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Milestone)
            </td>
            <td>
                @if (item.IsComplete)
                {
                    if (item.IsComplete)
                    {
                        @Html.DisplayFor(modelItem => item.CompleteTime)
                    }
                    else
                    {
                        <p>Отчет отправлен, но еще не проверен</p>
                    }
                }
                else
                {
                    <p>Задание еще не выполненно</p>
                }
            </td>
            @if (item.TaskReport.Last().ReportResponse == null)
            {
                <td>
                    @Html.ActionLink("Проверить отчет", "ReviewReport", new { taskId = item.Id, reportId = item.TaskReport.Last().Id, projectId = item.ProjectId }, new { @class = "button success" })
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Информация о задаче", "Details", new { taskId = item.Id, projectId = item.ProjectId }, new { @class = "button info" })
                </td>
            }
        </tr>
    }
</table>
