@using Invest.Common.Model.Common
@using Investmogile.Infrastructure.Common.Model.Common
@using Investmogilev.Infrastructure.Common.Model.Common
@using InvestPortal.Controllers
@model IEnumerable<Investmogilev.Infrastructure.Common.Model.Project.Project>
@{
    ViewBag.Title = "Все проекты";
}

<script src="~/Content/jquery.dataTables.min.js"></script>
<link href="~/Content/demo_table.css" rel="stylesheet" />
<link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
<script src="~/Scripts/TableSetup.js"></script>
<script>
    /* Table initialisation */
    $(document).ready(function () {
        $('#main-table').dataTable({
            "sPaginationType": "bootstrap",
            "oLanguage": {
                "sLengthMenu": "_MENU_ записей на странице",
                "oPaginate": {
                    "sNext": "Следующая",
                    "sPrevious": "Предыдущая"
                },
                "sInfo": "Всего _TOTAL_ записей. Показаны от _START_-й до _END_-й записи.",
                "sSearch": "Введите фильтр для таблицы _INPUT_"
            }
        });
    });
</script>
<h2>Все проекты</h2>
<div>
    @Html.ActionLink("Создать новый проект", "CreateProject", null, new { @class = "button success" })
</div>
<table id="main-table" class="table hovered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectType)
            </th>
            <th>Статус
            </th>
            <th>Управление
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ProjectType)
                </td>
                <td>
                    @EnumDescription.GetEnumDescription(item.WorkflowState.CurrentState)
                </td>
                <td>
                    <div>
                        @Html.ActionLink("Подробнее", "Project", "BaseProject", new { Id = item._id }, new { @class = "button info", style = "width:100%" })
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
