@model Invest.Common.Model.ProjectWorkflow.BrownField

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/MapMarkerInit.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Проект Броунфилд</legend>
        @Html.HiddenFor(model => model._id)
        @Html.HiddenFor(model => model.WorkflowId)
        @Html.HiddenFor(model => model.InvestorUser)
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, new { @id = "editor" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.AddressName)
        </div>
        <table class="table bordered striped hovered">
            <tr>
                <td>
                    <div id="map" style="height: 250px">
                    </div>
                </td>
                <td>
                    @Html.TextAreaFor(model => model.AddressName)
                    @Html.ValidationMessageFor(model => model.AddressName)
                    <div class="button" onclick="CheckAddress()">
                        Проверить адресс
                    </div>
                </td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model => model.Contact)</td>
                <td>
                    @Html.EditorFor(model => model.Contact)
                    @Html.ValidationMessageFor(model => model.Contact)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.EstimateRelease)</td>
                <td>
                    <div id="datepicker1" class="input-control text">
                        <input class="t-input"
                               data-val="true"
                               data-val-date="The field EstimateRelease must be a date."
                               id="EstimateRelease"
                               name="EstimateRelease"
                               type="text"
                               value="">
                        @Html.ValidationMessageFor(model => model.EstimateRelease)
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.RegistrationDate)</td>
                <td>
                    <div id="datepicker2" class="input-control text">
                        <input class="t-input valid"
                               data-val="true"
                               data-val-date="The field RegistrationDate must be a date."
                               data-val-required="The RegistrationDate field is required."
                               id="RegistrationDate"
                               name="RegistrationDate"
                               type="text"
                               value="">
                    </div>
                    @Html.ValidationMessageFor(model => model.RegistrationDate)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.InvestAmount)</td>
                <td>
                    @Html.EditorFor(model => model.InvestAmount)
                    @Html.ValidationMessageFor(model => model.InvestAmount)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.WorkPlaces)</td>
                <td>
                    @Html.EditorFor(model => model.WorkPlaces)
                    @Html.ValidationMessageFor(model => model.WorkPlaces)
                </td>
            </tr>
        </table>
        <p>
            <input type="submit" value="Сохранить" />
        </p>
        <div style="visibility:hidden">
            <div class="editor-label">
                @Html.LabelFor(model => model.Address)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Address)
            </div>
        </div>
    </fieldset>
}

<script>
    $("#datepicker1").datepicker({
        effect: "slide", // none, slide, fade
        position: "bottom", // top or bottom
        format: "dd/mm/yyyy",
    });
    $("#datepicker2").datepicker({
        effect: "slide", // none, slide, fade
        position: "bottom", // top or bottom
        format: "dd/mm/yyyy",
    });
    $(document).ready(function () { $("#editor").cleditor(); });
</script>
