@model Invest.Common.Model.ProjectModels.Project
@{
    ViewBag.Title = "Заполнить проект";
}
<h2>Заполнить проект</h2>


<script type="text/javascript">
    var map;
    function CheckAddress(e) {
        GMaps.geocode({
            address: $('#AddressName').val().trim(),
            callback: function (results, status) {
                if (status == 'OK') {
                    var latlng = results[0].geometry.location;
                    map.removeMarkers();
                    map.setCenter(latlng.lat(), latlng.lng());
                    map.setZoom(13);
                    map.addMarker({
                        lat: latlng.lat(),
                        lng: latlng.lng()
                    });
                    document.getElementById('Address_Lat').value = latlng.lat().toString();
                    document.getElementById('Address_Lng').value = latlng.lng().toString();
                }
            }
        });
    };

    $(document).ready(function () {
        map = new GMaps({
            el: '#map',
            lat: 53.6,
            lng: 30.623333,
            zoom: 8
        });

        GMaps.on('click', map.map, function (event) {
            var index = map.markers.length;
            var lat = event.latLng.lat();
            var lng = event.latLng.lng();
            document.getElementById('Address_Lat').value = lat.toString();
            document.getElementById('Address_Lng').value = lng.toString();
            map.removeMarkers();
            map.setCenter(lat, lng);
            map.addMarker({
                lat: lat,
                lng: lng
            });
        });
    });
</script>
<style>
    #container {
        width: 95%;
    }

    #leftContent {
        float: right;
        width: 50%;
        height: 550px;
    }

    #rightContent {
        float: left;
        margin-left: 10px;
        width: 45%;
    }
</style>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset id="container" class="row">
        <legend>Project</legend>
        <div id="rightContent">
            @Html.HiddenFor(model => model._id)
            @Html.HiddenFor(model => model.WorkflowId)
            @Html.HiddenFor(model => model.InvestorUser)
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Description, new { @id = "editor"})
                @Html.ValidationMessageFor(model => model.Description)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.AddressName)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.AddressName)
                @Html.ValidationMessageFor(model => model.AddressName)
                <div class="button" onclick="CheckAddress()">
                    Проверить адресс
                </div>
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Address)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Address)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Contact)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Contact)
                @Html.ValidationMessageFor(model => model.Contact)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Region)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Region)
                @Html.ValidationMessageFor(model => model.Region)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.AssignUser)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.AssignUser)
                @Html.ValidationMessageFor(model => model.AssignUser)
            </div>
            <p>
                <input type="submit" value="Сохранить" />
            </p>
        </div>
        <div id="leftContent">
            <div id="map" style="height: 100%">
            </div>
        </div>
    </fieldset>
}
<div>
    @Html.ActionLink("Назад к моим проектам", "Index")
</div>
<script>
    $(document).ready(function () { $("#editor").cleditor(); });
</script>
