@model Invest.Common.Model.ProjectModels.Project

@{
    ViewBag.Title = "ToProject";
}

<h2>Информация о проекте</h2>
<div>
    @Html.ActionLink("К всем проектам", "All", null, new { @class = "icon-arrow-left-3 fg-darker big" })
</div>
</br>
<div class="balloon top" style="width:400px">
    <p style="margin:20px">Основная информация по проекту</p>
</div>
<fieldset>
    <legend>Проект - @Model.Name</legend>

    <small class="display-label">
        @Html.DisplayNameFor(model => model.Description)
    </small>
    <blockquote class="display-field">
        @Html.DisplayFor(model => model.Description)
    </blockquote>

    <small class="display-label">
        @Html.DisplayNameFor(model => model.AddressName)
    </small>
    <blockquote class="display-field">
        @Html.DisplayFor(model => model.AddressName)
    </blockquote>

    <small class="display-label">
        @Html.DisplayNameFor(model => model.Contact)
    </small>
    <blockquote class="display-field">
        @Html.DisplayFor(model => model.Contact)
    </blockquote>

    <small class="display-label">
        @Html.DisplayNameFor(model => model.Region)
    </small>
    <blockquote class="display-field">
        @Html.DisplayFor(model => model.Region)
    </blockquote>

    <small class="display-label">
        @Html.DisplayNameFor(model => model.AssignUser)
    </small>
    <blockquote class="display-field">
        @if (string.IsNullOrEmpty(Model.AssignUser))
        {
            <p>Ответственный не назначен</p>
        }
        else
        {
            @Html.DisplayFor(model => model.AssignUser)
        }
    </blockquote>

    <small class="display-label">
        @Html.DisplayNameFor(model => model.InvestorUser)
    </small>
    <blockquote class="display-field">
        @if (string.IsNullOrEmpty(Model.InvestorUser))
        {
            <p>Инвестор еще не найден</p>
        }
        else
        {
            @Html.DisplayFor(model => model.InvestorUser)
        }
    </blockquote>

    <small class="display-label">
        @Html.DisplayNameFor(model => model.ProjectType)
    </small>
    <blockquote class="display-field">
        @Html.DisplayFor(model => model.ProjectType)
    </blockquote>

    <small class="display-label" data-hint="Системный статус | @Model.WorkflowState.CurrenState"
           data-hint-position=" right">
        Статус
    </small>
    <blockquote class="display-field" >
        @{Html.RenderAction("WorkFlowForProjectPartial", "BaseProject", new { id = Model._id });}
    </blockquote>
</fieldset>
</br>
<p>
    @Html.ActionLink("Создать заметку к проекту","Create", "Notes", new { id = Model._id }, new { @class = "button info" })
    @Html.ActionLink("Редактировать", "FillProject", new { id = Model._id }, new { @class = "button info"})
</p>
