@using InvestPortal.Controllers
@model List<Invest.Common.Model.ProjectModels.InvestorResponse>
@{
    ViewBag.Title = "Обработка откликов";
}
<h2>
    Обработка откликов</h2>


<script src="~/Content/jquery.dataTables.min.js"></script>
<link href="~/Content/demo_table.css" rel="stylesheet" />
<link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
<script src="~/Scripts/TableSetup.js"></script>
<script>
    /* Table initialisation */
    $(document).ready(function () {
        $('#main-table').dataTable({
            "sPaginationType": "bootstrap",
            "oLanguage": {
                "sLengthMenu": "_MENU_ записей на странице",
                "oPaginate": {
                    "sNext": "Следующая",
                    "sPrevious": "Предыдущая"
                },
                "sInfo": "Всего _TOTAL_ записей. Показаны от _START_-й до _END_-й записи.",
                "sSearch": "Введите фильтр для таблицы _INPUT_"
            }
        });
    });
</script>
<h2>Все проекты</h2>
<table id="main-table" class="table hovered">
    <thead>
        <tr>
            <th>
                Дата отклика
            </th>
            <th>
                Организация
            </th>
            <th>
                Электронная почта
            </th>

            <th>
                Телефон
            </th>
            <th>
                ФИО
            </th>
            <th>
                Управление
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ResponseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvestorOrganizationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvestorEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvestorPhone)
                </td>
                <td>
                    @string.Format("{0} {1} {2}", item.InvestorLastName, item.InvestorFirstName, item.InvestorMiddleName)
                </td>
                <td>
                    <div>
                        @Html.ActionLink("Обработать заявку", "ProcessVerifyResponse", "BaseProject", new { Id = item.ResponseId }, new { @class = "button success", style = "width:100%" });
                        @Html.ActionLink("Проект заявки", "ToProject", "BaseProject", new { Id = item.ResponseId }, new { @class = "button success", style = "width:100%" });
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
