@using BusinessLogic.Managers
@using Invest.Common.State
@model Invest.Common.Model.ProjectModels.Project
@{
    string selected = "selected";
}
<script>
    function popupCompletePlan(id) {
        linkToDetails = '/WorkflowActions/CompletePlan/' + id.toString()
        $.ajax({
            url: linkToDetails,
            dataType: 'html',
            success: function (data) {
                $('#popupContainer-@Model._id').html(data);
                $.Dialog({
                    shadow: true,
                    overlay: true,
                    icon: '<span class="icon-floppy"></span>',
                    title: 'Выполнение плана',
                    content: $('#project-popup-@Model._id').html()
                });
            }
        });
    }
</script>

<aside id="project-popup-@Model._id" style="display: none;">
    <div id="popupContainer-@Model._id">
    </div>
    <a id="popupLink" style="margin: auto; visibility:hidden" class="button success">Откликнуться на проект</a>
</aside>
<div class="row">
    <nav class="breadcrumbs">
        <ul>
            <li>
                @if (Model.WorkflowState.CurrenState == ProjectStates.Open)
                {
                    <a href="~/BaseProject/FillProject/@Model._id"
                       class="list"
                       data-hint="Заполнение проекта|При заполнении проекта необходимо
        указать основные данные по проекту а так же указать его местоположение"
                       data-hint-position="right">
                        <i class="icon-home"></i>
                        <span class="list-title">Заполнение проекта</span>
                    </a>
                }
                else
                {
                    if (Model.WorkflowState.CurrenState != ProjectStates.WaitForAssignee)
                    {
                        <a class="list selected" data-hint="Заполнение проекта| Проект заполнен - @Model.Description"
                           data-hint-position="right">
                            <i class="icon-checkmark"></i>
                            <i class="icon-home"></i>
                            <span class="list-title">Заполнение проекта</span>
                        </a>
                    }
                    else
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <a href="~/UserManager/AssignUser/@Model._id" class="list selected" data-hint="Назначение ответственного| Необходимо назначить ответственного"
                               data-hint-position="right">
                                <i class="icon-home"></i>
                                <span class="list-title">Заполнение проекта</span>
                            </a>
                        }
                        else
                        {
                            <a href="~/UserManager/AssignUser/@Model._id" class="list selected" data-hint="Назначение ответственного| Ожидаем назначение ответственного"
                               data-hint-position="right">
                                <i class="icon-home"></i>
                                <span class="list-title">Заполнение проекта</span>
                            </a>
                        }
                    }

                }
            </li>
            <li>
                @if (Model.WorkflowState.CurrenState == ProjectStates.WaitForInvestor)
                {
                    <a class="list" data-hint="Ожидаем отклик от инвестора| Проект размещен на инвестиционной карте, и в настоящий момент ожидается отклик от инвестора."
                       data-hint-position="right">
                        <i class="icon-auction"></i>
                        <span class="list-title">Отклик от инвестора</span>
                    </a>
                }
                else
                {
                    if (Model.WorkflowState.CurrenState == ProjectStates.WaitForAdminInvestorApprove)
                    {
                        <div>
                            <a class="list " data-hint="Отклик получен| На проект откликнулось @Model.Responses.Count инвесторов"
                               data-hint-position="right">
                                <i class="icon-auction"></i>
                                <span class="list-title">Отклик от инвестора</span>
                            </a>
                        </div>

                    }
                    else
                    {
                        if (Model.WorkflowState.CurrenState == ProjectStates.WaitForInvestorResponseApprove)
                        {
                            if (User.IsInRole("Investor") && User.Identity.Name == Model.InvestorUser)
                            {
                                <a href="~/InvestorEntry/ApproveResponse/@Model._id"
                                   class="list "
                                   data-hint="Отклик одобрен| Ваш отклик одобрен администрацией. Нажмите что бы потвердить свои намерения."
                                   data-hint-position="right">
                                    <i class="icon-auction"></i>
                                    <span class="list-title">Отклик от инвестора</span>
                                </a>
                            }
                            else
                            {
                                <a class="list" data-hint="Отклик одобрен администратором| Отклик одобрен администрацией. Ожидаем потверждения от инвестора."
                                   data-hint-position=" right">
                                    <span data-hint-position="right">
                                        <i class="icon-auction"></i>
                                        <span class="list-title">Отклик от инвестора</span>
                                </a>
                            }
                        }
                        else
                        {
                            if ((int)Model.WorkflowState.CurrenState > 5 && Model.Responses != null)
                            {
                                <a class="list" data-hint="Отклик одобрен| Отклик одобрен администрацией и потвержден инвестором. @string.Format("{0} {1} {2}", Model.Responses[0].InvestorLastName, Model.Responses[0].InvestorFirstName, Model.Responses[0].InvestorMiddleName)"
                                   data-hint-position="right">
                                    <i class="icon-checkmark"></i>
                                    <i class="icon-auction"></i>
                                    <span data-hint-position="right">
                                        <span class="list-title">Отклик от инвестора</span>
                                </a>
                            }
                        }
                    }
                }
            </li>
            @if (Model.WorkflowState.CurrenState == ProjectStates.WaitForAdminInvestorApprove && User.IsInRole("Admin"))
            {
                <li class="example_alt_pagination">
                    @foreach (var response in Model.Responses)
                    {
                    <li>
                        <a href="~/BaseProject/ProcessVerifyResponse/@response.ResponseId"
                           data-hint="Отклик| @string.Format(
                                        "{0} {1} {2}",
                                        response.InvestorLastName,
                                        response.InvestorFirstName,
                                        response.InvestorMiddleName)"
                           data-hint-position="right">
                            @string.Format(
                                            "{0} {1} {2}",
                                            response.InvestorLastName,
                                            response.InvestorFirstName,
                                            response.InvestorMiddleName)
                        </a>
                    </li>
                    }
                    </li>
            }
            <li>
                @if ((int)Model.WorkflowState.CurrenState > 5)
                {
                    if (Model.WorkflowState.CurrenState == ProjectStates.WaitForPlan || Model.WorkflowState.CurrenState == ProjectStates.WaitForDefectPlan)
                    {
                        <a href="~/Task/PlanForProject/@Model._id" class="list" data-hint="План проекта| Разрабатывается план проекта, ожидаем окончания его разработки."
                           data-hint-position="right">
                            <i class="icon-flag-2"></i>
                            <i class="icon-busy"></i>
                            <span class="list-title">План проекта</span>
                        </a>
                    }
                    if ((Model.WorkflowState.CurrenState == ProjectStates.WaitForAdminPlanApprove
                        || Model.WorkflowState.CurrenState == ProjectStates.WaitForAdminDefectPlanApprove)
                        && User.IsInRole("Admin"))
                    {
                        <a href="~/Task/ApproveByAdmin/@Model._id" class="list"
                           data-hint="План проекта| План проекта помечен как завершенный, нажмите что бы одобрить" data-hint-position="right">
                            <i class=" icon-flag-2">
                            </i>
                            <i class="icon-busy"></i>
                            <span class="list-title">План проекта</span>
                        </a>
                    }
                    else
                    {
                        if (Model.WorkflowState.CurrenState == ProjectStates.WaitForInvestorPlanApprove
                            || Model.WorkflowState.CurrenState == ProjectStates.WaitForInvestorDefectPlanApprove)
                        {
                            if (User.Identity.Name == Model.InvestorUser)
                            {
                                <a href="~/InvestorEntry/ApprovePlan/@Model._id" class="list"
                                   data-hint="План проекта| План проекта одобрен администратором и ожидает вашего одобрения. Нажмите что бы одобрить" data-hint-position="right">
                                    <i class="icon-flag-2"></i>
                                    <i class="icon-busy"></i>
                                    <span class="list-title">План проекта</span>
                                </a>
                            }
                            else
                            {
                                <a href="~/Task/PlanForProject/@Model._id" class="list"
                                   data-hint="План проекта| Ожидаем одобрения плана проекта от инвестора"
                                   data-hint-position="right">
                                    <i class="icon-flag-2"></i>
                                    <i class="icon-busy"></i>
                                    <span class="list-title">План проекта</span>
                                </a>
                            }
                        }
                        else
                        {
                            if (Model.WorkflowState.CurrenState == ProjectStates.PlanRealiztion
                                || Model.WorkflowState.CurrenState == ProjectStates.DefectPlanRealization)
                            {
                                <a href="~/Task/PlanForProject/@Model._id" class="list"
                                   data-hint="План проекта| Дорожная карта одобрена проект начался"
                                   data-hint-position="right">
                                    <i class="icon-flag-2"></i>
                                    <i class="icon-play"></i>
                                    <span class="list-title">План проекта</span>
                                </a>
                            }
                            else
                            {
                                if (Model.WorkflowState.CurrenState == ProjectStates.CloseProject)
                                {
                                    <a class="list selected" href="~/Task/PlanForProject/@Model._id"
                                       data-hint="План проекта| План проекта завершен."
                                       data-hint-position="right">
                                        <i class="icon-flag-2"></i>
                                        <i class=" icon-trophy"></i>
                                        <span class="list-title">План проекта</span>
                                    </a>
                                }
                            }
                        }
                        if ((Model.WorkflowState.CurrenState == ProjectStates.WaitForUserApproveCompletion
                            || Model.WorkflowState.CurrenState == ProjectStates.WaitForUserApproveDefectPlanComplete)
                            && User.Identity.Name == Model.AssignUser)
                        {
                            <a onclick="popupCompletePlan('@Model._id')" class="list"
                               data-hint="План проекта| Дорожная карта пройдена, нажмите  для потверждения выполнения."
                               data-hint-position="right">
                                <i class="icon-flag-2"></i>
                                <i class="icon-busy"></i>
                                <span class="list-title">План проекта</span>
                            </a>
                        }
                        if (Model.WorkflowState.CurrenState == ProjectStates.WaitForUserApproveCompletion && User.Identity.Name != Model.AssignUser)
                        {
                            <a href="" class="list"
                               data-hint="План проекта| Дорожная карта пройдена, ожидаем потверждения ответственного."
                               data-hint-position="right">
                                <i class="icon-flag-2"></i>
                                <i class="icon-busy"></i>
                                <span class="list-title">План проекта</span>
                            </a>
                        }

                        if (Model.WorkflowState.CurrenState == ProjectStates.WaitForAdminApproveDefectPlanComplete
                            || Model.WorkflowState.CurrenState == ProjectStates.WaitForAdminApproveCompletion
                            && User.IsInRole("Admin"))
                        {
                            <a onclick="popupCompletePlan('@Model._id')" class="list"
                               data-hint="План проекта| Дорожная карта одобрена ответственным, нажмите что бы закрыть проект"
                               data-hint-position="right">
                                <i class="icon-flag-2"></i>
                                <i class="icon-busy"></i>
                                <span class="list-title">План проекта</span>
                            </a>
                        }
                    }
                }
            </li>
        </ul>
    </nav>
</div>
@Model.WorkflowState.CurrenState