@model Investmogilev.UI.Portal.Models.RegionDataViewModel
<link href="~/Scripts/fooTable/footable.metro.min.css" rel="stylesheet" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.sparkline.min.js"></script>
<script src="~/Scripts/fooTable/footable.js"></script>
<script type="text/javascript">
    $(function () {
        /* Use 'html' instead of an array of values to pass options
        to a sparkline with data in the tag */
        $('.inlineline').sparkline('html', { type: 'line', width: '250px' });
        $('.inlinebar').sparkline('html', { type: 'bar', barWidth: '20px' });
        $('.bullet').sparkline('html', { type: 'bullet', width: '150px' });
        $('.footable').footable();
    });
</script>
<table class="footable" data-page-size="20" data-filter-timeout="1000">
    <thead>
        <tr>
            <th>Показатель</th>
            <th>Динамика показателя</th>
            <th>Динамика темпов роста</th>
            <th>Отношения среднего роста по району к среднеобластному</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="4">@Model.RegionName</td>
        </tr>
        @foreach (var parametrViewModel in Model.Parametrs.Where(t => t.Data.Any()))
        {
            <tr>
                <td>@parametrViewModel.Name </td>
                <td>
                    <span class="inlineline" style="width: 10%">
                        @foreach (var item in parametrViewModel.Data)
                        {
                            if (item.Key != 2012)
                            {
                                @(item.Value.ToString().Replace(',', '.') + ",")
                            }
                            else
                            {
                                @(item.Value.ToString().Replace(',', '.'))
                            }
                        }
                    </span>
                </td>
                <td>
                    <span class="inlinebar" style="width: 10%">
                        @foreach (var item in parametrViewModel.Growthes)
                        {
                            if (item.Key != 2012)
                            {
                                @(((item.Value - 1) * 100).ToString("0.000").Replace(',','.') + ",")
                            }
                            else
                            {
                                @(((item.Value - 1) * 100).ToString("0.000").Replace(',', '.'))
                            }
                        }
                    </span>
                </td>
                <td>
                    <span class="bullet" style="width: 10%">
                        @{
                            var paramValue = 0.0;
                            foreach (var itemAv in @ViewBag.AveragesTotal)
                            {
                                if (itemAv.Key == parametrViewModel.Name)
                                {
                                    paramValue = itemAv.Value;
                                }
                            }
                        }
                        @parametrViewModel.Growth.ToString().Replace(',', '.') , @paramValue.ToString().Replace(',', '.')
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>
