@model Investmogilev.Infrastructure.Common.Model.Project.GreenField
<fieldset style="height: 600px; overflow-x: auto;">
    <h3 style="font-weight: bold;">Green Field - @Model.Tags.FirstOrDefault()</h3>
    <table class="table table-striped table-condensed">
        <tr>
            <td style="width: 25%">@Html.LabelFor(model => model.Name)</td>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <td style="width: 25%">@Html.LabelFor(model => model.Description)</td>
            <td>@Html.Raw(HttpUtility.HtmlDecode(Model.Description))</td>
        </tr>
        <tr>
            <td style="width: 25%">@Html.LabelFor(model => model.CadastrValue)</td>
            <td>@Html.DisplayFor(model => model.CadastrValue)</td>
        </tr>
        <tr>
            <td style="width: 25%">@Html.LabelFor(model => model.Area)</td>
            <td>@Html.DisplayFor(model => model.Area)</td>
        </tr>
        <tr>
            <td style="width: 25%">@Html.LabelFor(model => model.Region)</td>
            <td>@Html.DisplayFor(model => model.Region)</td>
        </tr>
        @if (Model.Info != null && Model.Info.Count > 0)
        {
            <tr>
                <td style="width: 25%">Примечания</td>
                <td>
                    @foreach (var info in Model.Info)
                    {
                        if (info.InfoName.ToLowerInvariant().EndsWith(".jpg")
                            || info.InfoName.ToLowerInvariant().EndsWith(".gif")
                            || info.InfoName.ToLowerInvariant().EndsWith(".png"))
                        {
                            <img src="@string.Format("http://investmogilev.by/AdditionalInfo/DownloadProjectInfo?projectId={0}&docId={1}", Model._id, info._id)">
                        }
                        else
                        {
                            <div>
                                @Html.ActionLink(info.InfoName, "DownloadProjectInfo", "AdditionalInfo", new { projectId = Model._id, docId = info._id }, new { @class = "button info" })
                            </div>
                        }
                    }
                </td>
            </tr>
        }
    </table>
    <a style="margin-left: 200px" id="popupLink" href="/InvestorEntry/ResponseToProject/@Model._id" class="button button success"> Откликнуться на проект </a>
</fieldset>
